/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-d90e36f3-u6wejnmk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-8ad9d4eb-jes1uax3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}
 
 #vbid-6d4870db-jes1uax3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}
 
 #vbid-82a3d316-1ir8f6k1.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-21d850cb-lw9d5f4w.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 348px;
}
 
 #vbid-0ba522da-kwzcfrsz.master.item-box    {
	padding-top: 30px;
	padding-bottom: 0px;
} 
 #vbid-0ba522da-kwzcfrsz.item-box > .item-wrapper    {
	max-width: 1000px;
}