/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-208a4134-jes1uax3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}
 
 #vbid-a533527b-csooybxb.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 417px;
}
 
 #vbid-910cb4f4-elbnuu5k.master.item-box    {
	padding-top: 20px;
	padding-bottom: 0px;
	min-height: 774px;
} 
 #vbid-910cb4f4-elbnuu5k.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a533527b-pjyiluyq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 487px;
}
 
 #vbid-3ad80fbe-ujsj58an.master.item-box    {
	padding-top: 30px;
	padding-bottom: 0px;
} 
 #vbid-3ad80fbe-ujsj58an.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a533527b-xqpsdqkq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 323px;
}
 
 #vbid-a533527b-fwpks4pf.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 318px;
}
 
 #vbid-a533527b-se4pqdao.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 487px;
}
 
 #vbid-a533527b-oq5uobke.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}
 
 #vbid-a533527b-zhalvmx9.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
} 
 #vbid-a533527b-zhalvmx9.item-box > .item-wrapper    {
	max-width: 1286px;
}
 
 #vbid-a533527b-4bppgvoz.master.item-box    {
	padding-top: 70px;
	padding-bottom: 80px;
} 
 #vbid-a533527b-4bppgvoz.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a533527b-cqk1z8hj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 607px;
}
 
 #vbid-a533527b-wcrbivwq.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-a533527b-wcrbivwq.item-box > .item-wrapper    {
	max-width: 1364px;
}

 
 #vbid-a533527b-ab8b55fj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 528px;
}
 
 #vbid-a533527b-z5elma4u.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 358px;
}
 
 #vbid-a533527b-5ax4tt7r.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-a533527b-5ax4tt7r.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a533527b-yloaudci.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 501px;
}
 
 #vbid-a533527b-k2dmegop.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 501px;
}
 
 #vbid-a533527b-fobpce7p.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 442px;
}
 
 #vbid-a533527b-ydowifly.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 449px;
}
 
 #vbid-a533527b-ff01qmwu.master.item-box    {
	padding-top: 0px;
	min-height: 579px;
}
 
 #vbid-a533527b-ead4r5m8.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 418px;
} 
 #vbid-a533527b-ead4r5m8.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a73af4da-ifpjidya.master.item-box    {
	padding-top: 30px;
	padding-bottom: 0px;
} 
 #vbid-a73af4da-ifpjidya.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a533527b-ydsg8dpg.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 371px;
}
 
 #vbid-a533527b-s3qsq1y8.master.item-box    {
	padding-top: 0px;
	min-height: 435px;
}
 
 #vbid-a533527b-sqrpwgcd.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-a533527b-sqrpwgcd.item-box > .item-wrapper    {
	max-width: 1270px;
}
 
 #vbid-a533527b-maonoooa.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 468px;
}
 
 #vbid-067c1559-vklih97m.master.item-box    {
	padding-top: 0px;
	padding-bottom: 10px;
	min-height: 774px;
} 
 #vbid-067c1559-vklih97m.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a533527b-b9oawckj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 275px;
}
 
 #vbid-c03243a0-qqcb9mt2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 191px;
}
 
 #vbid-a0ff4e57-xbrah1wy.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-a533527b-jc3xf2x0.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 412px;
} 
 #vbid-a533527b-jc3xf2x0.item-box > .item-wrapper    {
	max-width: 924px;
}
 
 #vbid-a533527b-e6jib6kp.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 320px;
}
 
 #vbid-a533527b-sxnxzt9x.master.item-box    {
	padding-top: 60px;
	padding-bottom: 60px;
} 
 #vbid-a533527b-sxnxzt9x.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a533527b-oxxyfilu.master.item-box    {
	min-height: 104px;
}
 
 #vbid-97199153-enoo67xx.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-654ef0cf-elbnuu5k.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 774px;
} 
 #vbid-654ef0cf-elbnuu5k.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a533527b-cblzaeui.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 484px;
}
 
 #vbid-a533527b-mnsqzq5v.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 312px;
}
 
 #vbid-c5e2209c-oybvbttl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 148px;
}
 
 #vbid-a533527b-utmi6bta.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 318px;
}
 
 #vbid-a533527b-ocpqpnqy.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 429px;
}
 
 #vbid-a533527b-9nkplvuk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 366px;
}
 
 #vbid-a533527b-sowwnm3e.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 524px;
}
 
 #vbid-a533527b-lsjxanhs.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 496px;
}
 
 #vbid-a533527b-udepqjtr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 275px;
}
 
 #vbid-a533527b-bjkfmfg1.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a533527b-8qt1r2ao.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 275px;
}
 
 #vbid-a533527b-9ln1p2ir.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 379px;
}
 
 #vbid-a533527b-eag8vvdd.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 380px;
}
 
 #vbid-a533527b-qcw8zmg6.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 275px;
}
 
 #vbid-a533527b-lqbbu7qq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 917px;
}
 
 #vbid-f6117352-jes1uax3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}
 
 #vbid-c15fb107-u6wejnmk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}