/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4b19221a-dzebo07f
 *                                 	 
 ******************************************************************************************************/
	 .master .style-4b19221a-dzebo07f .title-holder  {
		
						text-align: center;	
		}
	 .master .style-4b19221a-dzebo07f .preview.image-cover  {
		
						min-height: 250px;	
		}
	 .master .style-4b19221a-dzebo07f .Title  ,  .master .style-4b19221a-dzebo07f .Body h1  { 
						font-size: 37px;
						color: rgb(0, 0, 0);
						margin-right: 50px;
						margin-top: 30px;
						margin-left: 50px;
						font-family: ff-tisa-web-pro;	
		}
	 .master .style-4b19221a-dzebo07f  .preview-content-holder  {
		
						text-align: left;
						max-width: 400px;
						margin-right: 20px;
						margin-top: 20px;
						margin-left: 20px;
						margin-bottom: 20px;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .master .style-4b19221a-dzebo07f .item-content:not(.blocks_layout)  {
		
						background-color: rgba(212, 212, 212, 0);	
		}
	 .master .style-4b19221a-dzebo07f .item-links span  {
		
						font-style: italic;
						font-size: 20px;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						letter-spacing: 0.1em;
						max-width: 500px;
						padding-right: 20px;
						margin-top: 20px;
						padding-left: 20px;
						padding-top: 10px;
						margin-bottom: 20px;
						font-family: 'Times New Roman';
						background-color: rgb(66, 117, 83);
						margin-left: 50px;	
		}
	 .master .style-4b19221a-dzebo07f .preview-title  ,  .master .style-4b19221a-dzebo07f .preview-body h1  { 
						line-height: 1.1em;
						font-size: 20px;
						color: rgb(0, 0, 0);
						letter-spacing: 0em;
						margin-top: 20px;
						margin-bottom: 5px;
						font-family: 'Times New Roman';	
		}
	 .master .style-4b19221a-dzebo07f .Quote  {
		
						margin-right: 50px;
						font-family: 'Times New Roman';
						margin-left: 50px;
						font-style: italic;	
		}
	 .master .style-4b19221a-dzebo07f .preview-item-links span  ,  .master .style-4b19221a-dzebo07f #sr-basket-widget *  { 
						font-family: 'Times New Roman';
						font-size: 16px;
						color: rgb(50, 50, 50);
						padding-bottom: 10px;
						border-color: rgb(147, 147, 147);
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 20px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 20px;
						border-width: 1px;
						background-color: rgba(159, 14, 14, 0);	
		}
	 .master .style-4b19221a-dzebo07f .quote-author  {
		
						font-style: italic;
						font-size: 23px;
						color: rgb(124, 124, 124);
						margin-right: 50px;
						margin-left: 50px;
						font-family: 'Times New Roman';	
		}
	 .master .style-4b19221a-dzebo07f .item-links  {
		
						text-align: center;	
		}
	 .master .style-4b19221a-dzebo07f .preview-element.icon-source  {
		
						width: 50px;	
		}
	 .master .style-4b19221a-dzebo07f .body-holder  {
		
						text-align: justify;	
		}
	 .master .style-4b19221a-dzebo07f .Body  {
		
						margin-bottom: 20px;
						line-height: 1.4em;
						font-size: 14px;
						margin-left: 50px;
						margin-right: 50px;	
		}
	 .master .style-4b19221a-dzebo07f .Subtitle  ,  .master .style-4b19221a-dzebo07f .Body h2  { 
						font-style: italic;
						font-size: 22px;
						letter-spacing: 0.05em;
						margin-right: 50px;
						margin-top: 15px;
						margin-left: 50px;
						margin-bottom: 15px;
						font-family: ff-tisa-web-pro;	
		}
	 .master .style-4b19221a-dzebo07f .page-image-cover  {
		
						margin-bottom: 30px;	
		}
	 .master .style-4b19221a-dzebo07f .title-wrapper  {
		
						max-width: 1124px;	
		}
	 .master .style-4b19221a-dzebo07f .subtitle-wrapper  {
		
						max-width: 1114px;	
		}
	 .master .style-4b19221a-dzebo07f  .preview-content-wrapper  {
		
						text-align: left;	
		}
	 .master .style-4b19221a-dzebo07f .body-wrapper  {
		
						max-width: 700px;	
		}
	 .master .style-4b19221a-dzebo07f .preview-item-links span:hover  ,  .master .style-4b19221a-dzebo07f .preview-element.Link.hover-tester  { 
						background-color: rgba(0, 0, 0, 0);
						color: rgb(0, 0, 0);	
		}
	 .master .style-4b19221a-dzebo07f .subtitle-holder  {
		
						text-align: center;	
		}
	 .master .style-4b19221a-dzebo07f .preview-body  {
		
						font-family: Arial;
						font-size: 12px;
						color: rgb(34, 34, 34);
						max-width: 500px;
						margin-top: 10px;
						margin-bottom: 10px;
						line-height: 1.6em;	
		}
	
	 .style-4b19221a-dzebo07f.master.container > #children  {
		
						background-color: rgb(0, 0, 0);	
		}
	 .master .style-4b19221a-dzebo07f .preview-subtitle  ,  .master .style-4b19221a-dzebo07f .preview-body h2  { 
						line-height: 1.2em;
						font-size: 14px;
						color: rgb(35, 35, 35);
						letter-spacing: 0.1em;
						margin-right: 0px;
						margin-left: 0px;
						margin-bottom: 5px;
						font-family: 'Roboto Slab Light';	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-3ae24446-uah8hgro
 *                                 	 
 ******************************************************************************************************/
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro.master.item-box   {
		
						background-color: rgb(37, 41, 40);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-title  ,  .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-body h1  { 
						font-size: 16px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0.0em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						margin-bottom: 0px;
						font-family: Arial;
						background-color: rgba(11, 11, 11, 0);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-link-img  {
		
						width: 30px;
						margin: 7px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro  .preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro  .preview-content-holder  {
		
						text-align: center;
						max-width: 600px;
						margin-right: 20px;
						margin-top: 35px;
						margin-left: 20px;
						margin-bottom: 35px;
						background-color: rgba(246, 239, 217, 0);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-item-links span  ,  .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro #sr-basket-widget *  { 
						font-size: 14px;
						color: rgb(0, 0, 0);
						padding-bottom: 20px;
						border-color: rgba(0, 0, 0, 0);
						padding-right: 30px;
						margin-top: 20px;
						padding-left: 30px;
						padding-top: 20px;
						font-family: Arial;
						background-color: rgb(225, 150, 0);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-item-links span:hover  ,  .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-element.Link.hover-tester  { 
						background-color: rgb(0, 0, 0);
						color: rgb(221, 221, 221);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .item-content:not(.blocks_layout)  {
		
						background-color: rgb(50, 50, 50);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-divider  {
		
						border-color: rgb(255, 255, 255);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-icon-holder  {
		
		    			-webkit-filter: invert(100%);filter: invert(100%);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-subtitle-holder  {
		
						text-align: center;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-body  {
		
						font-family: Abel;
						font-size: 16px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.05em;
						margin-right: 20px;
						margin-top: 10px;
						margin-left: 20px;
						margin-bottom: 0px;
						line-height: 1.4em;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						padding-right: 0px;
						margin-top: 5px;
						padding-left: 0px;
						width: 60px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 25px;
						margin-left: 5px;
						margin-right: 5px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .background-div  {
		
						color: rgb(255, 255, 255);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .middle_layout .helper-div  ,  .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1020px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-subtitle  ,  .style-4b19221a-dzebo07f .style-3ae24446-uah8hgro .preview-body h2  { 
						line-height: 1.2em;
						font-size: 14px;
						color: rgb(241, 241, 241);
						letter-spacing: 0.05em;
						margin-right: 0px;
						margin-top: 10px;
						margin-left: 0px;
						margin-bottom: 5px;
						font-family: Quicksand;
						background-color: rgba(0, 0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-3ae24446-oflitdxt
 *                                 	 
 ******************************************************************************************************/
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt.master.item-box   {
		
						position: relative;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-item-links span:hover  ,  .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt.master.item-box   {
		
						padding-left: 3%;
						width: 94%;
						padding-right: 3%;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-item-links  {
		
						text-align: center;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						max-width: 1900px;
						margin-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						background-color: rgba(0, 0, 0, 0);
						text-align: right;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-item-links span  ,  .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt #sr-basket-widget *  { 
						font-family: Merriweather;
						font-size: 17px;
						color: rgb(0, 0, 0);
						padding-bottom: 8px;
						border-color: rgba(255, 255, 255, 0.670588);
						letter-spacing: -0.0em;
						max-width: 1150px;
						padding-right: 10px;
						margin-top: 5px;
						padding-left: 10px;
						padding-top: 8px;
						margin-bottom: 0px;
						border-width: 0px;
						background-color: rgba(255, 255, 255, 0);
						margin-left: 30px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-title  ,  .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-body h1  { 
						font-size: 29px;
						color: rgb(255, 255, 255);
						letter-spacing: 0.05em;
						margin-left: 0px;
						margin-bottom: 0px;
						font-family: Raleway;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-item-links.allow-bg-color  ,  .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .submenu  { 
						background-color: rgb(255, 255, 255);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-divider  {
		
						border-bottom-width: 1px;
						width: 10%;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-icon-holder  {
		
		    			-webkit-filter: invert(0%);filter: invert(0%);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-subtitle-holder  {
		
						text-align: left;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						margin-right: 10px;
						margin-top: 10px;
						margin-left: 10px;
						margin-bottom: 10px;
						width: 60px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .stripe-background  {
		
						margin-left: -3%;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-item-links span:before  ,  .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .effect-tester  { 
						background-color: rgb(185, 248, 177);	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt  .preview-content-wrapper  {
		
						vertical-align: bottom;
						text-align: center;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .middle_layout .helper-div  ,  .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-subtitle  ,  .style-4b19221a-dzebo07f .style-3ae24446-oflitdxt .preview-body h2  { 
						font-size: 14px;
						color: rgb(221, 221, 221);
						letter-spacing: 0.0em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						font-family: Montserrat;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-57119807-ibzbdpsr
 *                                 	 
 ******************************************************************************************************/
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr  .preview-content-holder  {
		
						margin-right: 50px;
						padding-bottom: 0px;
						text-align: left;
						max-width: 380px;
						padding-right: 0px;
						margin-top: 0px;
						margin-left: 50px;
						padding-top: 0px;
						margin-bottom: 0px;
						background-color: rgba(0, 0, 0, 0);
						border-color: rgb(197, 197, 197);
						padding-left: 0px;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-divider  {
		
						margin-bottom: 10px;
						border-color: rgb(0, 0, 0);
						margin-top: 5px;
						border-bottom-width: 3px;
						width: 10%;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .inner-pic  {
		
						opacity: 0.88;
						color: rgb(0, 0, 0);
		    			-webkit-filter:none;filter:none;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-title  ,  .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-body h1  { 
						line-height: 1.2em;
						font-size: 20px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.0em;
						margin-top: 0px;
						margin-bottom: 15px;
						font-family: Abel;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-item-links span  ,  .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr #sr-basket-widget *  { 
						font-family: Arial;
						font-size: 16px;
						padding-right: 20px;
						color: rgb(0, 0, 0);
						padding-bottom: 10px;
						border-color: rgb(0, 0, 0);
						letter-spacing: 0.0em;
						margin-right: 5px;
						margin-top: 20px;
						padding-left: 20px;
						padding-top: 10px;
						margin-bottom: 20px;
						border-width: 1px;
						background-color: rgb(253, 202, 243);
						margin-left: 5px;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						margin-top: 0px;
						margin-bottom: 10px;
						width: 490px;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .background-image-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-link-img  {
		
						width: 33px;
						margin: 4px;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-body-holder  {
		
						max-width: 500px;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr  .preview-content-wrapper  {
		
						text-align: left;
						vertical-align: middle;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-item-links span:hover  ,  .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgb(253, 202, 243);	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-body  {
		
						line-height: 1.4em;
						font-size: 16px;
						color: rgb(0, 0, 0);
						letter-spacing: -0.05em;
						max-width: 600px;
						margin-top: 0px;
						margin-bottom: 10px;
						font-family: Abel;	
		}
	
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 10px;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .middle_layout .helper-div  ,  .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 2000px;	
		}
	 .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-subtitle  ,  .style-4b19221a-dzebo07f .style-57119807-ibzbdpsr .preview-body h2  { 
						font-family: Montserrat;
						font-size: 17px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.0em;
						margin-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						margin-bottom: 10px;
						line-height: 1.3em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-57119807-ibzbdpsr #vbid-57119807-uec8ds1a .preview-content-holder{
				
							text-align : left;
					
				}


 .style-57119807-ibzbdpsr #vbid-57119807-lxm8ca5g.inner-pic{
				
							background-position : 44.6708% 48.2667%;
					
				}










 .style-57119807-ibzbdpsr #vbid-57119807-uec8ds1a .preview-content-wrapper{
				
							text-align : left;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-2bef1d1a-cxq4oyna
 *                                 	 
 ******************************************************************************************************/
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: center;
						max-width: 600px;
						padding-right: 0px;
						margin-top: 50px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 50px;
						background-color: rgba(255, 255, 255, 0);
						padding-left: 0px;	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .item-content:not(.blocks_layout)  {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-divider  {
		
						border-bottom-width: 4px;
						border-color: rgb(0, 0, 0);
						width: 10%;	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .inner-pic  {
		
						opacity: 1;
						color: rgb(0, 0, 0);
		    			-webkit-filter:none;filter:none;	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-subtitle-holder  {
		
						max-width: 1050px;	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .background-div  {
			
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-title  ,  .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-body h1  { 
						line-height: 1.4em;
						font-size: 28px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.0em;
						font-weight: bold;
						margin-top: 0px;
						margin-bottom: 0px;
						font-family: Merriweather;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-item-links span  ,  .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna #sr-basket-widget *  { 
						border-width: 2px;
						font-size: 19px;
						color: rgb(0, 0, 0);
						padding-bottom: 10px;
						border-color: rgba(0, 0, 0, 0);
						letter-spacing: 0.1em;
						padding-right: 30px;
						margin-top: 5px;
						padding-left: 30px;
						border-radius: 18px;
						padding-top: 10px;
						font-family: Arial;
						background-color: rgb(250, 187, 239);	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-element.icon-source  {
		
						margin-bottom: 15px;
						width: 60px;	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .background-image-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-item-links span:before  ,  .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .effect-tester  { 
						background-color: rgb(0, 0, 0);	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-body-holder  {
		
						max-width: 800px;	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: middle;	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-item-links span:hover  ,  .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgb(251, 140, 250);	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-body  {
		
						line-height: 1.5em;
						font-size: 30px;
						color: rgb(0, 0, 0);
						max-width: 800px;
						font-weight: bold;
						margin-top: 0px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .middle_layout .helper-div  ,  .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-subtitle  ,  .style-4b19221a-dzebo07f .style-2bef1d1a-cxq4oyna .preview-body h2  { 
						font-style: italic;
						font-size: 18px;
						color: rgb(0, 0, 0);
						letter-spacing: -0.05em;
						margin-right: 0px;
						margin-top: 10px;
						margin-left: 0px;
						font-family: Arial;
						margin-bottom: 20px;
						line-height: 1.5em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-2bef1d1a-cxq4oyna #vbid-2bef1d1a-odrlvjqg .preview-content-holder{
				
							text-align : center;
					
				}


 .style-2bef1d1a-cxq4oyna #vbid-2bef1d1a-ckqacfh4.inner-pic{
				
							background-position : 50.3135% 29.5905%;
					
				} .style-2bef1d1a-cxq4oyna #vbid-2bef1d1a-t5mt6wmw.inner-pic{
				
							background-position : 50% 50%;
					
				} .style-2bef1d1a-cxq4oyna #vbid-2bef1d1a-2kwemwa5.inner-pic{
				
							background-position : 49.2685470581055% 69.2805786132813%;
					
				}











 .style-2bef1d1a-cxq4oyna #vbid-2bef1d1a-odrlvjqg .preview-content-wrapper{
				
							text-align : center;
					
				}










/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-39881968-xsjjhkez
 *                                 	 
 ******************************************************************************************************/
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez  .preview-content-holder  {
		
						margin-right: 50px;
						padding-bottom: 0px;
						text-align: center;
						max-width: 550px;
						padding-right: 0px;
						margin-top: 50px;
						margin-left: 50px;
						padding-top: 0px;
						margin-bottom: 50px;
						background-color: rgba(255, 255, 255, 0);
						padding-left: 0px;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .item-content:not(.blocks_layout)  {
		
						color: rgba(0, 0, 0, 0);
						background-color: rgb(253, 202, 243);	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-divider  {
		
						border-color: rgb(0, 0, 0);
						margin-top: 5px;
						width: 20%;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .inner-pic  {
		
						opacity: 0.98;
						color: rgb(0, 0, 0);
		    			-webkit-filter:none;filter:none;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .background-div  {
			
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-title  ,  .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-body h1  { 
						line-height: 0.9em;
						font-size: 22px;
						color: rgb(0, 0, 0);
						letter-spacing: -0.05em;
						font-weight: bold;
						margin-top: 5px;
						margin-bottom: 5px;
						font-family: Rokkitt;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-item-links span  ,  .style-4b19221a-dzebo07f .style-39881968-xsjjhkez #sr-basket-widget *  { 
						font-family: Merriweather;
						font-size: 19px;
						padding-right: 25px;
						color: rgb(0, 0, 0);
						padding-bottom: 15px;
						border-color: rgba(0, 0, 0, 0);
						letter-spacing: 0.05em;
						line-height: 0.8em;
						font-weight: bold;
						margin-top: 0px;
						padding-left: 25px;
						border-radius: 22px;
						padding-top: 15px;
						margin-bottom: 10px;
						border-width: 0px;
						background-color: rgb(255, 255, 255);	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						width: 110px;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .background-image-div  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-link-img  {
		
						width: 38px;
						margin: 7px;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-icon-holder  {
		
						margin-bottom: 40px;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-body-holder  {
		
						max-width: 600px;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: middle;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-item-links span:hover  ,  .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgb(255, 255, 255);	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .inner-pic-holder  {
		
						background-color: rgb(244, 186, 244);	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-item-links span:before  ,  .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .effect-tester  { 
						background-color: rgb(225, 150, 0);	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-body  {
		
						line-height: 1.4em;
						font-size: 17px;
						color: rgb(0, 0, 0);
						max-width: 600px;
						margin-top: 0px;
						margin-bottom: 10px;
						font-family: HelveNueThinNormal;	
		}
	
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-social-holder  {
		
						margin-bottom: 15px;
						margin-top: 15px;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .middle_layout .helper-div  ,  .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1400px;	
		}
	 .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-subtitle  ,  .style-4b19221a-dzebo07f .style-39881968-xsjjhkez .preview-body h2  { 
						font-family: HelveNueThinNormal;
						font-size: 20px;
						font-weight: bold;
						color: rgb(0, 0, 0);
						letter-spacing: 0.05em;
						margin-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						margin-bottom: 0px;
						line-height: 1.4em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-39881968-xsjjhkez #vbid-39881968-i2y0go4o .preview-content-holder{
				
							text-align : center;
					
				}


 .style-39881968-xsjjhkez #vbid-39881968-qxbqvb0v.inner-pic{
				
							background-size : 25%;
					
				} .style-39881968-xsjjhkez #vbid-39881968-2ds4lcao.inner-pic{
				
							background-position : 55.8% 95.2539%;
					
				} .style-39881968-xsjjhkez #vbid-39881968-elkbl5au.inner-pic{
				
							background-position : 50% 50%;
					
				} .style-39881968-xsjjhkez #vbid-39881968-zbiclki4.inner-pic{
				
							background-position : 11% 49.7793%;
					
				} .style-39881968-xsjjhkez #vbid-39881968-scjouidl.inner-pic{
				
							background-position : 11% 100%;
					
				}











 .style-39881968-xsjjhkez #vbid-39881968-i2y0go4o .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-3ae24446-tq4gibx6
 *                                 	 
 ******************************************************************************************************/
	 .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .Body  {
		
						font-size: 12px;
						max-width: 650px;
						margin-right: 20px;
						margin-left: 20px;
						margin-bottom: 10px;
						line-height: 1.4em;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .Subtitle  ,  .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .Body h2  { 
						font-size: 15px;
						color: rgb(110, 110, 110);
						max-width: 650px;
						letter-spacing: 0.1em;
						margin-right: 20px;
						margin-top: 15px;
						margin-left: 20px;
						margin-bottom: 15px;
						font-family: Arial;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .quote-holder  {
		
						margin-bottom: 45px;
						margin-top: 35px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .Title  ,  .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .Body h1  { 
						font-size: 22px;
						color: rgb(0, 0, 0);
						max-width: 650px;
						letter-spacing: 0.05em;
						margin-right: 20px;
						margin-top: 30px;
						margin-left: 20px;
						font-family: Montserrat;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .link-wrapper  {
		
						max-width: 1058px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .Quote  {
		
						margin-right: 50px;
						font-family: 'Times New Roman';
						font-size: 19px;
						margin-left: 50px;
						font-style: italic;	
		}
	
	 .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .quote-author  {
		
						font-style: italic;
						font-size: 19px;
						color: rgb(124, 124, 124);
						margin-right: 50px;
						margin-top: 10px;
						margin-left: 50px;
						font-family: 'Times New Roman';	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .title-wrapper  {
		
						max-width: 1180px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .item-links span  {
		
						border-width: 1px;
						font-size: 13px;
						color: rgb(0, 0, 0);
						padding-bottom: 10px;
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 20px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 20px;
						font-family: Arial;
						background-color: rgba(66, 117, 83, 0);
						margin-left: 50px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .subtitle-wrapper  {
		
						max-width: 1180px;	
		}
	 .style-4b19221a-dzebo07f .style-3ae24446-tq4gibx6 .body-wrapper  {
		
						max-width: 1032px;	
		}
	 .style-3ae24446-tq4gibx6.master.container > #children  {
		
						background-color: rgba(0, 0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						letter-spacing: 0.1em;
				
						font-family: Merriweather;
				
						line-height: 1.4em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						border-width: 12px;
				
						line-height: 1.0em;
				
						letter-spacing: -0.05em;
				
						border-radius: 36px;
				
						font-family: Merriweather;
				
						direction: ltr;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Merriweather;
				
						letter-spacing: 0.1em;
				
						line-height: 1.7em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Merriweather;
				
						letter-spacing: 0.15em;
				
						line-height: 1.6em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(251, 140, 250);
					
		}