/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-39881968-jes1uax3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}
 
 #vbid-6367ebb7-ys7q51a0.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-57119807-gxaf7ipc.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 769px;
}
 
 #vbid-2bef1d1a-1ir8f6k1.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}