/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-3ae24446-babhuth5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 475px;
}
 
 #vbid-3ae24446-uztbfpvh.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-3ae24446-uztbfpvh.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-a3gzcsnm   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-3ae24446-jofshltx.master.item-box    {
	padding-top: 190px;
	padding-bottom: 190px;
	min-height: 651px;
} 
 #vbid-3ae24446-jofshltx.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-cdbzck2g.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 392px;
}
 
 #vbid-3ae24446-kjkamyuq.master.item-box    {
	padding-top: 25px;
	padding-bottom: 35px;
} 
 #vbid-3ae24446-kjkamyuq.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-xrb19jle.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 759px;
}
 
 #vbid-3ae24446-bsvs2uy9.master.item-box    {
	min-height: 773px;
}
 
 #vbid-3ae24446-hxqjn4cw.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 376px;
} 
 #vbid-3ae24446-hxqjn4cw.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-xkaqdxg3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 690px;
}
 
 #vbid-3ae24446-p1u5rjhq.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-3ae24446-p1u5rjhq.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-3ae24446-jlxjulwu.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 815px;
}
 
 #vbid-3ae24446-u3esdvng.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-3ae24446-u3esdvng.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-aaumvpar.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 690px;
}
 
 #vbid-3ae24446-pcmyi9wb.master.item-box    {
	padding-top: 40px;
	padding-bottom: 40px;
} 
 #vbid-3ae24446-pcmyi9wb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-1alqem4l.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 770px;
}
 
 #vbid-3ae24446-5zymczue.master.item-box    {
	padding-top: 0px;
	padding-bottom: 10px;
	min-height: 91px;
} 
 #vbid-3ae24446-5zymczue.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-pbj3upkj.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 202px;
} 
 #vbid-3ae24446-pbj3upkj.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-oedl2h1p   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-3ae24446-874cuw1u.master.item-box    {
	padding-top: 0px;
	padding-bottom: 20px;
} 
 #vbid-3ae24446-874cuw1u.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-nqvejuhp.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-3ae24446-nqvejuhp.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-nwsxbeml.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
}
 
 #vbid-3ae24446-w3mutm6z   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-3ae24446-e7l4lvbn.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 704px;
}
 
 #vbid-3ae24446-5gbbcpbo.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 371px;
}
 
 #vbid-3ae24446-dtb52wtb   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-3ae24446-m9yxhy7z   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-3ae24446-8qprmk6m.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 690px;
}
 
 #vbid-3ae24446-nzkt5gzz.master.item-box    {
	padding-top: 60px;
	padding-bottom: 80px;
	min-height: 1343px;
} 
 #vbid-3ae24446-nzkt5gzz.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-qsadyqew.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 528px;
}
 
 #vbid-3ae24446-r3jaggtj.master.item-box    {
	padding-top: 0px;
	min-height: 621px;
}
 
 #vbid-3ae24446-t0f7oecw.master.item-box    {
	padding-top: 0px;
	min-height: 423px;
}
 
 #vbid-3ae24446-7exuag8p.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 295px;
}
 
 #vbid-3ae24446-bkwv5l2i.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 688px;
}
 
 #vbid-3ae24446-1wio4oms.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 401px;
}
 
 #vbid-3ae24446-eazom2jt   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-3ae24446-0pnxqxys.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 506px;
}
 
 #vbid-3ae24446-gb5jp3a8.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 405px;
}
 
 #vbid-3ae24446-czyyjwdm.master.item-box    {
	padding-top: 0px;
	padding-bottom: 35px;
	min-height: 1343px;
} 
 #vbid-3ae24446-czyyjwdm.item-box > .item-wrapper    {
	max-width: 1168px;
}
 
 #vbid-3ae24446-7u6ajd4g.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 701px;
}
 
 #vbid-999977e2-v1gahe5a.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 415px;
} 
 #vbid-999977e2-v1gahe5a.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-mi0z1cba.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 427px;
}
 
 #vbid-3ae24446-xrlse4tv.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 714px;
}
 
 #vbid-3ae24446-2beg0y3k.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 275px;
}
 
 #vbid-3ae24446-q2knjxkq.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 770px;
}
 
 #vbid-3ae24446-j4tvcoes.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 250px;
}
 
 #vbid-3ae24446-incqyzoz.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 310px;
}
 
 #vbid-3ae24446-fkbo28o6.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 312px;
}
 
 #vbid-3ae24446-im8wwloo.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 405px;
}
 
 #vbid-3ae24446-m8srbrms.master.item-box    {
	min-height: 231px;
}
 
 #vbid-3ae24446-aw51fyiw   {
	background-size: contain;
}
 
 #vbid-3ae24446-4eg0aopm.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1030px;
}
 
 #vbid-3ae24446-zl0yayhz   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-3ae24446-dttgsig6.master.item-box    {
	padding-top: 70px;
	padding-bottom: 60px;
	min-height: 202px;
} 
 #vbid-3ae24446-dttgsig6.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-lfyvuy6p   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-3ae24446-hdrziwhd.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 759px;
}
 
 #vbid-3ae24446-hq8p1csk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 710px;
}
 
 #vbid-3ae24446-v76gymol.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 315px;
}
 
 #vbid-3ae24446-b0moeo29.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-3ae24446-b0moeo29.item-box > .item-wrapper    {
	max-width: 1144px;
}
 
 #vbid-3ae24446-dxbg1fcz.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 684px;
}
 
 #vbid-3ae24446-zwoz2swy.master.item-box    {
	padding-top: 30px;
	padding-bottom: 40px;
	min-height: 241px;
} 
 #vbid-3ae24446-zwoz2swy.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-nfsh123g.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-3ae24446-nfsh123g.item-box > .item-wrapper    {
	max-width: 1270px;
}
 
 #vbid-3ae24446-oclnldgo.master.item-box    {
	min-height: 551px;
}
 
 #vbid-3ae24446-m0qfibqu.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 312px;
}
 
 #vbid-3ae24446-7lujssgk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 716px;
}
 
 #vbid-3ae24446-l0hjo7ol.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 802px;
}
 
 #vbid-3ae24446-4okpoaql.master.item-box    {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 114px;
} 
 #vbid-3ae24446-4okpoaql.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-2a6uo8ne.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 965px;
}
 
 #vbid-3ae24446-pv4oqw0v.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
} 
 #vbid-3ae24446-pv4oqw0v.item-box > .item-wrapper    {
	max-width: 1416px;
}
 
 #vbid-3ae24446-hjzzdj6k   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-3ae24446-8yavbz8b   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-3ae24446-sqeznz81.master.item-box    {
	padding-top: 0px;
	min-height: 503px;
} 
 #vbid-3ae24446-sqeznz81.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-upjp9evm.master.item-box    {
} 
 #vbid-3ae24446-upjp9evm.master.item-box    {
	min-height: 365px;
}
 
 #vbid-3ae24446-boagkuds.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 682px;
}
 
 #vbid-3ae24446-tzfrmgj4   {
	background-size: 92%;
}
 
 #vbid-3ae24446-rayt16gt.master.item-box    {
	padding-top: 0px;
}
 
 #vbid-3ae24446-akrm9915.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 814px;
}
 
 #vbid-3ae24446-eqcbj6vt.master.item-box    {
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 1343px;
}
 
 #vbid-3ae24446-uhv4u294.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 114px;
}
 
 #vbid-3ae24446-sbztzira.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 411px;
}
 
 #vbid-3ae24446-m0ts5jae.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 770px;
} 
 #vbid-3ae24446-m0ts5jae.item-box > .item-wrapper    {
	max-width: 1388px;
}
 
 #vbid-3ae24446-o4hxzlaj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 849px;
}
 
 #vbid-3ae24446-wptyjwxv.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 507px;
}
 
 #vbid-3ae24446-ifzixrzw.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 312px;
} 
 #vbid-3ae24446-ifzixrzw.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-8m2o3mrr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 794px;
}
 
 #vbid-3ae24446-7t9trc01.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 496px;
}
 
 #vbid-3ae24446-6otyomia.master.item-box    {
	min-height: 231px;
}
 
 #vbid-f4c70a74-ujsj58an.master.item-box    {
	padding-top: 30px;
	padding-bottom: 0px;
} 
 #vbid-f4c70a74-ujsj58an.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-u5xuyea2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 411px;
}
 
 #vbid-3ae24446-2bofrlhd.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 81px;
}
 
 #vbid-3ae24446-n3bp5ecj.master.item-box    {
	padding-top: 230px;
	padding-bottom: 240px;
	min-height: 651px;
} 
 #vbid-3ae24446-n3bp5ecj.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-3krschim.master.item-box    {
	padding-top: 200px;
	min-height: 651px;
	padding-bottom: 200px;
} 
 #vbid-3ae24446-3krschim.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-jekejbt6.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 883px;
}
 
 #vbid-3ae24446-bvnkrth8.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 296px;
}
 
 #vbid-3ae24446-boaukqjx   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-3ae24446-zlp0kvie.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 690px;
}
 
 #vbid-30fd16e6-ev8zbmtg.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
}
 
 #vbid-3ae24446-0bdmljca   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-3ae24446-3x8xk10q   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-3ae24446-xodpg9bk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 700px;
}
 
 #vbid-3ae24446-fuonsk4b.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 825px;
}
 
 #vbid-3ae24446-abfxakdm   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-3ae24446-xookrshg.master.item-box    {
} 
 #vbid-3ae24446-xookrshg.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 410px;
} 
 #vbid-3ae24446-xookrshg.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-xdwub73c.master.item-box    {
	min-height: 699px;
}
 
 #vbid-3ae24446-4aglyigr   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-3ae24446-ulwhk2pl.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-3ae24446-r98xt40b.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 514px;
}
 
 #vbid-3ae24446-hb3ky6ww.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
}
 
 #vbid-3ae24446-shd0b4rt.master.item-box    {
} 
 #vbid-3ae24446-shd0b4rt.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 404px;
} 
 #vbid-3ae24446-shd0b4rt.item-box > .item-wrapper    {
	max-width: 1000px;
}

 
 #vbid-3ae24446-l7dzlmzv   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-3ae24446-bgue9ewq   {
	background-position: 51.8808784484863% 24.1324920654297%;
}
 
 #vbid-6e145e28-eebms8mr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-6360ce3a-enoo67xx.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}
 
 #vbid-3ae24446-58fzncur.master.item-box    {
	min-height: 516px;
}
 
 #vbid-3ae24446-gaivftj5   {
	background-size: contain;
}
 
 #vbid-3ae24446-ioi3aimc.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 604px;
}
 
 #vbid-3ae24446-slb1ulug   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-3ae24446-bbhwnldm.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 802px;
}
 
 #vbid-3ae24446-qimfvh8p.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 421px;
}
 
 #vbid-3ae24446-emvaab6h.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 364px;
}
 
 #vbid-3ae24446-kj5zco2o   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-3ae24446-ogpl33dg.master.item-box    {
	min-height: 386px;
}
 
 #vbid-3ae24446-y6khsp9h.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 258px;
}
 
 #vbid-3ae24446-nbppoawx   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-3ae24446-gsz3ybbu.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 635px;
}
 
 #vbid-3ae24446-0qdr3s7s.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 624px;
}
 
 #vbid-3ae24446-dtgoboj5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 376px;
}
 
 #vbid-3ae24446-b5szxjqb.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 690px;
}
 
 #vbid-3ae24446-ciarstje.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1060px;
}
 
 #vbid-7247aec3-oybvbttl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 277px;
}
 
 #vbid-3ae24446-dgulbrin.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 815px;
} 
 #vbid-3ae24446-dgulbrin.item-box > .item-wrapper    {
	max-width: 1092px;
}
 
 #vbid-3ae24446-c8f1rmd1.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 531px;
}
 
 #vbid-3ae24446-etclygqr.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 337px;
}
 
 #vbid-3ae24446-xhbq7m8a   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-3ae24446-67gluhyk.master.item-box    {
} 
 #vbid-3ae24446-67gluhyk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 357px;
}
 
 #vbid-3ae24446-ttegjlij.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 658px;
}
 
 #vbid-3ae24446-vp4s5cg4   {
	background-size: contain;
}
 
 #vbid-3ae24446-wsiz1bey.master.item-box    {
} 
 #vbid-3ae24446-wsiz1bey.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 501px;
}
 
 #vbid-3ae24446-zuj7svjc.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 965px;
}
 
 #vbid-3ae24446-3lxpuchu   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-3ae24446-g7hrbnft.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 416px;
}
 
 #vbid-3ae24446-duafcjuk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 257px;
}
 
 #vbid-3ae24446-5avcra2q.master.item-box    {
	min-height: 603px;
}
 
 #vbid-3ae24446-syg94aso.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 717px;
}
 
 #vbid-3ae24446-xkkukieb   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-3ae24446-dirnwrcu.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 226px;
}
 
 #vbid-3ae24446-ktagi34y.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 432px;
}
 
 #vbid-3ae24446-iqsat2qf   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-3ae24446-gnxjsk5n.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}
 
 #vbid-3ae24446-wtqyis0i.master.item-box    {
	min-height: 2px;
}
 
 #vbid-3ae24446-iuxoy3wn   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-3ae24446-may4cxtw.master.item-box    {
	padding-top: 70px;
	padding-bottom: 70px;
} 
 #vbid-3ae24446-may4cxtw.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-ehctqif6.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 683px;
}
 
 #vbid-3ae24446-zt32u9xu.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 690px;
}
 
 #vbid-3ae24446-pwwdngpd.master.item-box    {
	padding-top: 60px;
	padding-bottom: 60px;
} 
 #vbid-3ae24446-pwwdngpd.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-3ae24446-l1lsgl8v.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1343px;
}