/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-5d274bf6-jes1uax3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}
 
 #vbid-9806f537-qqcb9mt2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 162px;
}
 
 #vbid-31922ea3-ifpjidya.master.item-box    {
	padding-top: 30px;
	padding-bottom: 0px;
} 
 #vbid-31922ea3-ifpjidya.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-925ff6b3-4qvvvvlj.master.item-box    {
	padding-top: 0px;
	padding-bottom: 35px;
	min-height: 1343px;
}
 
 #vbid-368debbe-ghwf2ehl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 823px;
} 
 #vbid-368debbe-ghwf2ehl.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ecc077a9-elbnuu5k.master.item-box    {
	padding-top: 0px;
	padding-bottom: 25px;
	min-height: 774px;
} 
 #vbid-ecc077a9-elbnuu5k.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a01fb55c-vx4atz9v.master.item-box    {
	padding-top: 35px;
} 
 #vbid-a01fb55c-vx4atz9v.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-10761557-2hadwmch.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-0f02c1f8-1ir8f6k1.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-2904e5b1-jes1uax3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}