/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-fa75a384-jes1uax3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}
 
 #vbid-9c8aa899-jes1uax3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}
 
 #vbid-e5f9375c-1ir8f6k1.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-ac354ae9-qqcb9mt2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-daa4f169-2hadwmch.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-b79b861a-oxzfvgbt.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-d6cd8387-ujsj58an.master.item-box    {
	padding-top: 30px;
	padding-bottom: 0px;
} 
 #vbid-d6cd8387-ujsj58an.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-ebe710c4-q7jh5ju4.master.item-box    {
	min-height: 679px;
}