/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-3ae24446-2beg0y3k.master.item-box    {
	min-height: 346px;
}
 
 #vbid-a29f9cf8-oybvbttl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 197px;
}
 
 #vbid-d5e84845-oybvbttl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 197px;
}
 
 #vbid-7b085838-ghwf2ehl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 823px;
} 
 #vbid-7b085838-ghwf2ehl.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-72fd8de0-fns6teg0.master.item-box    {
	padding-bottom: 0px;
	min-height: 701px;
} 
 #vbid-72fd8de0-fns6teg0.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-568fb27e-qqcb9mt2.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-08920d2e-0uqncgl5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 341px;
}
 
 #vbid-29d8d844-saj6wvam.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-5a8ee3ee-elbnuu5k.master.item-box    {
	padding-top: 20px;
	padding-bottom: 0px;
	min-height: 774px;
} 
 #vbid-5a8ee3ee-elbnuu5k.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-d63e9be0-jes1uax3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 354px;
}
 
 #vbid-ff528a3c-oybvbttl.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 231px;
}
 
 #vbid-d8186894-ifpjidya.master.item-box    {
	padding-top: 30px;
	padding-bottom: 0px;
} 
 #vbid-d8186894-ifpjidya.item-box > .item-wrapper    {
	max-width: 1000px;
}