/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-e29e5bef-elbnuu5k.master.item-box    {
	padding-top: 0px;
	padding-bottom: 15px;
	min-height: 774px;
} 
 #vbid-e29e5bef-elbnuu5k.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-de823902-saj6wvam.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 232px;
}
 
 #vbid-eaab646d-gr2ixtpe.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 461px;
}
 
 #vbid-9761fffe-b3oteh5g.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 174px;
}
 
 #vbid-47b90568-0uqncgl5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 329px;
}
 
 #vbid-a948e881-qqcb9mt2.master.item-box    {
	padding-top: 60px;
	padding-bottom: 0px;
	min-height: 299px;
}
 
 #vbid-d4ee6b87-ifpjidya.master.item-box    {
	padding-top: 30px;
	padding-bottom: 0px;
} 
 #vbid-d4ee6b87-ifpjidya.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-1a4a5769-1ir8f6k1.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 210px;
}
 
 #vbid-c4b3849a-vny0tuwx.master.item-box    {
	padding-top: 35px;
	padding-bottom: 20px;
	min-height: 202px;
} 
 #vbid-c4b3849a-vny0tuwx.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-06232d43-jes1uax3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 304px;
}